/* PAGE LOGIN STYLE */

body {
    display: block;
}

.container {
    padding: 0px;
    margin: 0px;
    width: 98.8%;
}

.clear { 
    clear: both; 
}

.bold {
    font-weight: bold !important;
}

.field-validation-valid {
    display: none;
}

p {
    text-indent:30px;
}

/* DIV IMAGE WITH SLIDESHOW */

.slideshow {
    position: relative;
    text-align: center;
    max-height:inherit;
    max-width:inherit;
    }

